<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAD.Properties.Settings.gestor_cineConnectionString"
            connectionString="Data Source=DESKTOP-1FA5IRH\SQLEXPRESS;Initial Catalog=gestor_cine;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>